<section class='m_widget about'>
<% if(config.avatar) { %>
<img class='avatar waves-image' src='<%= url_for(config.avatar) %>' />
<%} %>
<div class='header'><%=config.author %></div>
<div class='content'>
<div class='desc'>와! <del>4</del> 5학년이다!</div>
</div>
</section>
